/venv/

full_dataset.csv
partial_dataset.csv
TODO.txt

/img/Cover.psd
/img/icon.png
/img/icon.svg


/models/val_loss_checkpoint.hdf5


/src/gui/__pycache__/
/src/data/__pycache__/
/src/data/logs



/data/
